<% include common/header.ejs %>

    <section>
      <h1>Our Best Packages</h1>
      
      <div class="row">

          <div class="col col-md-3 package-item">
                <div class="card" >
                        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">ငွေဆောင် Seaview</h5>
                          <p class="card-text"> ၁ ညအိပ် ၂ ရက် </p>
                          <p class="card-text">95,000 mmk</p>
                          <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                </div>
          </div>

      </div>
    </section>

<% include common/footer.ejs %>

